body {
  margin:0;
  font-family: Arial;
}

.topbar {
  background:#0c223a;
  color:#fff;
  text-align:center;
  padding:5px;
}

header {
  position:fixed;
  width:100%;
  top:0;
  background:transparent;
  transition:.3s;
}

header.active {
  background:#0c223a;
}

.hero {
  height:100vh;
  position:relative;
}

.hero img {
  width:100%;
  height:100%;
  object-fit:cover;
}

.hero-content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
  text-align:center;
}

.metrics {
  background:#111;
  color:#fff;
  padding:50px;
}

.grid-3 {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

.card img {
  width:100%;
}

#whatsapp {
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25d366;
  padding:15px;
  border-radius:50%;
}
